/* Default Styles for Desktop */

body {
    background-color: white;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
    margin: 2%;
    padding: 2%;
    background-image: url(https://img.freepik.com/free-vector/paper-style-white-monochrome-background_52683-66443.jpg);
    background-size: cover;
}
h1 {
    text-align: center;
}
#About{
    background-color: #ffffff59;
    text-align: center;
}

#Experience {
    background-color: #ffffffa1;

}

#Connect {
    background-color: #ffffff59;
}
#Projects_ALL {
    display: flex;  
    justify-content: space-between;
}
#Projects_1, #Projects_2, #projects {
    background-color: lightblue;
    border: solid black;
    text-align: center;
    width: 30%;
    flex-direction: column;
    display: flex;
}

#Projects_2 {
    background-color: lightgreen;
}

#projects {
    background-color: rgb(255, 172, 78);
}

h2 {
    text-align: left;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #555;
    border: solid black;
    text-decoration: underline;
}
section {
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    width: 100%; 
    left: 0;
    bottom: 0;
}

.column {
    flex: 1;
}

li a {
    display: block;
    
}

.connect {
    display: flex;
    list-style-type: none;
    border: solid black;
    
}

.connect li {
    margin: 50px;
    text-align: center;
}

a:hover {
    background-color: gray;
    border: solid black;
    text-decoration: underline;
}

body {
    margin: 0 0 200px;
}

textarea {
    width: 400px;
    height: 200px;
}

/* Tablet Styles */
@media (max-width: 1024px) {
    body {
        font-size: 16px;
        color: black;
    }

    #About {
        background-color: rgb(109, 108, 108);
        color: white;
        font-family:'Courier New', Courier, monospace;
        border: solid black;
    }

    #Experience{
        background: url(https://media.istockphoto.com/id/1372488781/vector/wood-texture-vector-brown-wooden-background.jpg?s=612x612&w=0&k=20&c=eXQbrqxBXe4VvXXDFXNv0rsDNMUqvXzWJRi7GTYUWXM=);
        background-size: cover;
        color: black;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border: solid black;
    }
    
    #Connect {
        background: url(https://t4.ftcdn.net/jpg/03/16/36/59/360_F_316365913_WKVKZW7gzsqqhkx4PgGyu0rArj5GykHK.jpg);
        background-size: cover;
        color: darkblue;
        border: solid black;
    }

    #skills {
        background: url(https://static.vecteezy.com/system/resources/previews/008/459/776/non_2x/green-natural-organic-grass-background-and-texture-vector.jpg);
        background-size: cover;
        color: black;
        border: solid black;
    }

    #projects {
        border: 3px solid;
    }

}

